<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Panel</title>
</head>
<body>
    <h2>Encuentra tu producto</h2>
    <form action="http://localhost:8080/api/productos" method="get">
        <button type="submit">Ver todos los productos</button><br>
    </form><br>
    <form action="http://localhost:8080/api/productos/:id" method="get">
        <label for="id">Encuentra tu producto por ID</label>
        <input type="number" name="id">
        <button type="submit">Enviar ID</button>
    </form>

</body>
</html>